/*
* @Author: lenovo
* @Date:   2017-12-11 11:02:59
* @Last Modified by:   lenovo
* @Last Modified time: 2017-12-11 11:27:07
*/
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}