/*
* @Author: lenovo
* @Date:   2017-12-11 11:02:59
* @Last Modified by:   lenovo
* @Last Modified time: 2017-12-14 10:33:15
*/
@import url('base.css');
.tou{
	width: 100%;
	height: 40px;
	background: #444444;

}
.nei{
	height: 100%;
	/* background: red; */
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	color: #A8A8AA;
}
.nei div{
	line-height: 40px;
}
.nav1{
	width: 100%;
	height: 44px;
	background: #323232;

}
.nav1 ul{
	width: 976px;
	height: 100%;
	/* background: red; */
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.nav1 ul li{
	line-height: 44px;
	color: white;
}
.nav1 ul li img{
	display: block;
	width: 20px;
	height: 20px;
	margin: 10px auto;
}
.nav2{
	width: 100%;
	height: 44px;
	background: #323232;

}
.nav2 img{
	width: 20px;
	height: 20px;
	margin: 10px auto;
}
.nav1 li:hover{
	color: #676767;
}
.nav2 ul{
	height: 100%;
	/* background: red; */
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.nav2 ul li{
	line-height: 44px;
	color: white;
}
.ZL{
	width: 100%;
	height: 580px;
	background: #FAFAFA;
	position: relative;
	border-bottom: 12px solid #FFFFFF;

}
.ZL li{
	width: 100%;
	height: 100%;
	overflow: hidden;
	
}

.ZL li h1{
    color: black;
	text-align: center;


}
.ZL li h2{
	  color: black;
	text-align: center;

}
.ZL li div{

	background: red;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 112px;
    background-image: url('../img/iphone_x_large.jpg');
    background-size:909px 194px;
    background-repeat: no-repeat;
}
.ZL1{
	width: 100%;
	height: 580px;
	background: #F9F0EB;
	position: relative;
	border-bottom: 12px solid #FFFFFF;

}
.ZL1 li{
	width: 100%;
	height: 100%;
	overflow: hidden;	
}
.ZL1 li h1{
	  color: black;
	text-align: center;
}
.ZL1 li h2{
	  color: black;
	font-size: 27px;
	text-align: center;

}
.ZL1 li .tp{
	background: red;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px;
    background-image: url('../img/iphone_8_large.jpg');
    background-size:561px 395px;
    background-repeat: no-repeat;
}
.fl{
	width: 100%;
	height: auto;
	background: red;
}
.fl a{
	width: 100%;
	height: 100%;
}
.fl li{
	background:#FAFAFA;
	box-sizing: border-box;
	border-bottom: 12px solid #FFFFFF;
	border-right: 12px solid #FFFFFF;
	position: relative;
	overflow: hidden;


}
.fl li h1{
	text-align: center;
	font-size: 31px;
	color: black;
	margin-top: 58px;
	position: relative;z-index: 2
}
.fl li h2{
	text-align: center;
	font-size: 31px;
	color: black;
	position: relative;
	z-index: 2
	/* margin-top: 58px; */
}
.fl li h3{
    font-size:16px; 
    text-align: center;
    color: black;
    margin-top: 12px;
}
    .fl li:nth-child(2) h3{
    	font-size: 19px;
    	text-align: center;
    	color: black;
        position: relative;
        z-index: 2
    }
/* .fl li:nth-child(2n+1){
	border-left: 12px solid black;
} */
.t{
	width: 491px;
	height: 344px;
/* 	background: yellow; */
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
	background-image: url('../holiday_large.png');
	background-size: 491px 344px;
}
.fl li:nth-child(2) .t{
    width: 1262px;
    height: 580px;
	background: yellow;
	position: absolute;
	top: calc(50% - 290px);
	left: calc(50% - 631px);
	z-index: 1;


	/* left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 0; */
	background-image: url('../img/trade_up_large.jpg');
	background-size: 1262px 580px;
}
.fl li:nth-child(3) .t{
    width: 586px;
    height: 274px;
	background: yellow;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
	background-image: url('../img/watch_series_3_large.jpg');
	background-size: 586px 274px;
}
.fl li:nth-child(4) .tu{
    width: 510px;
    height: 146px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 60px;
	background-image: url('../img/ipad_pro_large.jpg');
}
/* .tu{
	 width: 510px;
    height: 146px;
    top: 280px;
    background-size: 510px 146px;
    background: url('../img/ipad_pro_large.jpg') no-repeat center;
} */
.ft1{
	width: 100%;
	height: auto;
	background: #f2f2f2;
	overflow: hidden;
}
.ft1::after{
	content: '';
	display: block;
	clear: both;
}
.ft2{
	width: 100%;
	height: auto;
	background: #f2f2f2;
	overflow: hidden;
	margin-top: 20px;
}
.foot section{
	width: 976px;
	height: 300px;
	/* background: red; */
	margin: 0 auto;
	overflow: hidden;
	box-sizing: border-box;
	padding-left: 16px;
}
.foot section ul{
	width: 20%;
	height: auto;
	margin-top: 40px;
	float: left;
}
.foot section ul li h3{
	font-size: 11px;
	color: #333;
	margin-bottom: 6px;
}
.foot section ul li a{
	font-size: 11px;
	color: #555;
	/* margin-bottom: 6px; */
}
.foot section ul li a:hover{
	text-decoration: underline;
}
.fot{
    width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 0 16px;
	background: #f2f2f2;	
}
	
.fot::after{
	content: '';
	display: block;
	clear: both;
}
.fot h3{
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
    color: #333;
 
}
.fot h3::after{
	content: '+';
	color: #333;
	font-size: 16px;
	display: block;
	float: right;
}
.db1 ul li a:hover{
	text-decoration: underline;
}
.db1{
	width: 100%;
}
.db1 ul{
		width: 976px;
		height: 82px;
		margin-top: 40px;
}
.db1 ul li{
	font-size: 12px;
	color: #888888;
}
	
.db1 ul li:first-child{
	border-bottom: 1px solid #d6d6d6;
	/* width: 100%; */
	height: 23px;
	line-height: 23px;
}
.db1 ul li:first-child a{
	color: #0070c9;
}
.db1 ul li:nth-child(2){
	margin-top: 5px;
	width:auto;
	height: 18px;
	line-height: 18px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.db1 ul li:nth-child(3){
	margin-top: 5px;
	width: 100%;
	height: 23px;
	line-height: 23px;
}
.copy{
	width: 560px;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.you{
	width: 310px;
	height:18px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	line-height: 23px;
	color: black;
}
.you a{
	color: #888888;
}
.youb{
	width: 50px;
	height: 100%;
	line-height: 18px;
	display: flex;
	flex-direction: row;
	justify-content: space-between

}
.db1 .youb a{
	line-height: 18px;
	color: #888888;
	font-size: 12px;
	
}
.db1 ul li:nth-child(2) .you a{
	display: block;
	border-right: 1px solid #d6d6d6;
	width: 65px;
	height: 18px;
	margin-left: 5px;
	
	line-height: 18px;
	color: #888888;
}
.db1 ul li:nth-child(3) .you a{
	color: black

}
.db1 ul li:nth-child(2) .you a:last-child{
	border-right: none
}
.db1{
	background: #f2f2f2;
	overflow: hidden;
}
.db1 ul{
	background: #f2f2f2;
	/* left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto; */
	margin: 0 auto;
}

.db1 .bottom a{
	color: #888888;
}
/* 大于1024 */
@media screen and (min-width: 1024px){
	.nei{
        width: 976px;
	}
	.nav1 {
		display: block;
	}
    .nav2{
		display: none;
	}
	.ZL li h1{
		margin-top: 85px;
		font-size: 56px;
		color: black;
	}
	.ZL li div{
		width: 909px;
	height: 194px;
	}
	.ZL li h2{
     font-size: 27px;
     color: black;
	}
	.ZL li div{
		width: 909px;
	    height: 194px;
	    background-image: url('../img/iphone_x_large.jpg');
	    background-size:909px 194px;
	}
	.ZL1 li h1{
		margin-top: 44px;
		font-size: 56px;
			color: black;
	}
	.ZL1 li h2{
			font-size: 27px;
				color: black;
	}
    .ZL1 li .tp{
	width: 561px;
	height: 395px;
    background-image: url('../img/iphone_8_large.jpg');
    background-size:561px 395px;
    }
    .fl li{
    	width: 50%;
	    height: 580px;
	    float: left;
    }
    .t{
	width: 491px;
	height: 344px;
	background-image: url('../img/holiday_large.png');
	background-size: 491px 344px;
    }
    .fl li h1{
	text-align: center;
	font-size: 40px;
	color: black;
	margin-top: 58px;
    }
    .fl li h2{
	text-align: center;
	font-size: 40px;
	color: black;
	/* margin-top: 58px; */
    }
    .fl li h3{
    font-size:16px; 
    text-align: center;
    color: black;
    margin-top: 12px;
    }
    .fl li:nth-child(2n+1){
	border-left: 12px solid #FFFFFF;
    }
    .fl li:nth-child(3) .t{
    width: 586px;
    height: 274px;
	/* background: yellow;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 0; */
	background-image: url('../img/watch_series_3_large.jpg');
	background-size: 586px 274px;	
    }
    .fl li:nth-child(4) .t{
    width: 559px;
    height: 454px;
    position: absolute;
   left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background-image: url('../img/ipad_pro_large.jpg');
	background-size: 559px 454px;
    }
    .foot{
	width: 1024px;
	height: auto;
	box-sizing: border-box;
	padding: 0 22px; 
	margin: 0 auto;
   }
   .foot section ul{
	margin-top: 40px;
   }
   .ft1{
   	display: block;
   }
   .ft2{
   	display: none;
   }
   .db1{
   	display: block;
   }
   .db2{
   	display: none;
   }
}
/* 小于1024 */
@media screen and (max-width: 1024px){
	.nei{
		padding: 0 16px;
	}
	.nav1 {
		display: block;
	}
    .nav2{
		display: none;
	}
	div ul{
		padding: 0 16px;
	}
   .fl li{
    	width: 50%;
	    height: 580px;
	    float: left;
    }
    .t{
    width: 491px;
	height: 344px;
	background-image: url('../img/holiday_large.png');
	background-size: 491px 344px;
    }
	
   .fl li h1{
	text-align: center;
	font-size: 31px;
	color: black;
	margin-top: 58px;
    }
    .fl li h2{
	text-align: center;
	font-size: 31px;
	color: black;
	/* margin-top: 58px; */
    }
    .fl li h3{
    font-size:16px; 
    text-align: center;
    color: black;
    margin-top: 12px;
    }
    .fl li:nth-child(2n+1){
	border-left: 12px solid black;
    }
     .fl li:nth-child(3) .t{
    width: 288px;
    height: 322px;
	background-image: url('../img/watch_series_3_medium.jpg');
	background-size: 288px 322px;
    }
    .db1{
   	display: block;
   }
   .db2{
   	display: none;
   }
}
/* 大于768小于1024 */
@media screen and (max-width: 1024px)and (min-width: 768px){
	.nav1 {
		display: none;
	}
    .nav2{
		display: block;
	}
	div ul{
		padding: 0 16px;
	}
	.ZL li h1{
		margin-top: 97px;
		font-size: 44px;
	}
	.ZL li h2{
        font-size: 24px;
	}
	.ZL li div{
		width: 704px;
	    height: 148px;
	    background-image: url('../img/iphone_x_medium.jpg');
	    background-size:704px 148px;
	}
	.ZL1 li h1{
		margin-top: 56px;
		font-size: 44px;
	}
	.ZL1 li h2{
			font-size: 24px;
	}
    .ZL1 li .tp{
	width: 549px;
	height: 388px;
    background-image: url('../img/iphone_8_medium.jpg');
    background-size:549px 388px;
    }
    .fl li{
    	width: 50%;
	    height: 490px;
	    float: left;
    }

	.fl li h1{
	text-align: center;
	font-size: 32px;
	color: black;
	margin-top: 42px;
    }
    .fl li h2{
	text-align: center;
	font-size: 32px;
	color: black;
	/* margin-top: 58px; */
    }
    .fl li h3{
    font-size:19px; 
    text-align: center;
    color: black;
    margin-top: 3px;
    }

    .fl li:nth-child(2n+1){
	border-left: 12px solid #FFFFFF;
    }
    .t{
    width: 336px;
	height: 236px;
	background-image: url('../img/holiday_medium.png');
	background-size: 336px 236px;	
    }
    .fl li:nth-child(2) .t{
    width: 516px;
    height: 490px;
	background: yellow;
	position: absolute;
	top: calc(50% - 245px);
	left: calc(50% - 258px);
	z-index: 1;
	background-image: url('../img/trade_up_medium.jpg');
	background-size: 516px 490px;
}
    .fl li:nth-child(3) .t{
    width: 288px;
    height: 322px;
	background-image: url('../img/watch_series_3_medium.jpg');
	background-size: 288px 322px;
    }
   .fl li:nth-child(4) .tu{
    width: 318px;
    height: 91px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 80px;
	background-image: url('../img/ipad_pro_large.jpg');
}
     .fl li:nth-child(5) .t{
    width: 288px;
    height: 322px;
	background-image: url('../img/watch_series_3_medium.jpg');
	background-size: 288px 322px;
    }
     .fl li:nth-child(6) .t{
    width: 288px;
    height: 322px;
	background-image: url('../img/watch_series_3_medium.jpg');
	background-size: 288px 322px;
    }
    .foot{
	padding: 0 22px;
	height: 373px;
	box-sizing: border-box; 
	margin: 0 auto;
    }
    .foot section ul{
	margin-top: 20px;
   }
   .ft1{
   	display: block;
   }
   .ft2{
   	display: none;
   }
  .db1{
   	display: block;
   }
   .db2{
   	display: none;
   }
}
/* 小于768 */
@media screen and (max-width: 768px){
.nav1 {
		display: none;
	}
    .nav2{
		display: block;
	}
    div ul{
		padding: 0 16px;
	}
	.ZL li h1{
		margin-top: 47px;

		font-size: 32px;
	}
	.ZL li h2{
     font-size: 19px;
	}
	.ZL li div{
		width: 167px;
	    height: 333px;
	background-image: url('../img/iphone_x_small.jpg');
	background-size:167px 333px;
	}
	.ZL1 li h1{
		margin-top: 42px;
		font-size: 32px;
	}
	.ZL1 li h2{
			font-size: 19px;
	}
    .ZL1 li .tp{
	width: 549px;
	height: 388px;
    background-image: url('../img/iphone_8_medium.jpg');
    background-size:549px 388px;
    }
    .ZL1 li h1{
		margin-top: 44px;
		font-size: 32px;
	}
	.ZL1 li h2{
			font-size: 19px;
	}
    .ZL1 li .tp{
	width: 267px;
	height: 357px;
    background-image: url('../img/iphone_8_small.jpg');
    background-size:267px 357px;
    }
    .fl li{
    	width: 100%;
	    height: 508px;
    }
    .fl li{
    	border-bottom:12px solid #FFFFFF;
    	border-right: none;
    	border-left: none;
    }
	.fl li h1{
	text-align: center;
	font-size: 32px;
	color: black;
	margin-top: 42px;
    }
    .fl li h2{
	text-align: center;
	font-size: 32px;
	color: black;
	/* margin-top: 58px; */
    }
    .fl li h3{
    font-size:19px; 
    text-align: center;
    color: black;
    margin-top: 3px;
    }
    .fl li:nth-child(2n+1){
	border-left:none;
    }
    .t{
    width: 336px;
	height: 236px;
	background-image: url('../img/holiday_large.png');
	background-size: 336px 236px;	
    }
    .fl li:nth-child(4) .tu{
    width: 391px;
    height: 86px;
	position: absolute;
	left: 70px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 60px;
	background-image: url('../img/ipad_pro_small.jpg');
	background-repeat: no-repeat;
}
     .ft2{
   	display: block;
   }
   .ft1{
   	display: none;
   }
   .db1{
   	display: none;
   }
   .db2{
   	display: block;
   }
   .db2{
		display: block;
		background: #f2f2f2;
		width: 100%;
		height: auto;
}
	.db2 ul{
		width: auto;
		height: auto;
		padding: 0 16px;
		overflow: hidden;
	}
	.db2 ul li{
		font-size: 10px;
		margin-top: 10px;
		color: #888888;
	}
	.db2 .copy .you{
		width: auto;
		height: 16px;
	}
	.db2 .copy{
		width: auto;
		height: 16px;
		line-height:16px;
	}
    .db2 .copy .zuo{
    	color: #888888;
	font-size: 12px;
	margin-top: 10px;
}
	.db2 ul li:first-child a{
		color: #0070c9;
	}
	.db2 ul li:nth-child(3) a{
		color: #888888;
		height: 16px;
		line-height: 16px;
		border-right: 1px solid #cdc9c9;
		padding-right: 12px;
		margin-left: 3px;
	}
	.db2 ul li:last-child a{
		color: #888888;
	}
	.db2.bottom .you a{
		color: #888888;
	}

}
